@charset "EUC-KR";
.aimage{
	border : silver solid 3px;
	border-radius : 10px;				/* 모서리 둥글게 */
	box-shadow : teal 3px 3px 5px;
	float: left;				
	margin-left: 10px;
	margin-right: 10px; 
	font-family: "SF싸락눈-OTF.otf";
	font-size: 20pt;
}

.aimage img{
	max-width: 300px;
	max-height: 250px;
	margin-top: 20px;
	box-shadow: navy 0px 0px 5px;
}