<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beaver.oct042.test.TestMapper"></mapper>
	<insert id="regTest" parameterType="com.beaver.oct042.test.Test">
		insert into oct04_test values(#{t_title}, #{t_when})
	</insert>



	<select id="getAllTest" resultType="com.beaver.oct042.test.Test">
		select * from oct04_test order by t_when
		
		
	</select>







</mapper>