<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>


	<!-- 
		템플릿 태그 중 변수를 가져올 떄는 중괄호 2개씩!
		변수의 속성에 접근할 때는 변수명, 속성명으로 가능 
	 -->

<!-- 	<h1><a href="">사진 목록 페이지</a></h1>
	<section>
		{% for photo in photos %}
			<div>
				<h2>
					<a href="{% url 'photo_detail' pk=photo.pk}">{{ photo.title }}</a>
				</h2>
			</div>
			<img src="{{ photo.image}}" alt="{{ photo.title }}">
			<p>{{ photo.author }}, {{ photo.price }}원</p>		
		{% endfor %}
	</section> -->












</body>
</html>