@charset "EUC-KR";
@font-face {
	
		/* 웹폰트 등록 : 
			CSS에 추가(IE에서는 안 먹힘 - ?!?!?!)
			폰트파일에 있는 글자들 모양이 다 등록 
				=>용량이 커집니다!
					=>느림... */
	
	font-family : "SF싸락눈";
	src: url("SF싸락눈-OTF.otf"); 
}
 
body {
	overflow : scroll;	
	background-image: url("swissNature.jpg");
	font-size: 30pt;
	color: black;
}

#siteTitleArea{
	border-spacing: 0px; /* td간의 간격 */
	position: fixed;  
	top: 0px;
	left: 0px; /* 좌표 조절 */
	width: 100%;
	font-family:"SF싸락눈"
}

#siteMenuArea {
	background-color: rgb(255, 255, 255);			/* ffccff<--rgb값/55<--투명도 */ 
	font-size: 30pt;
}

#siteMenuArea table {
	width: 100%;
}

#siteMenuArea td {
	width: 25%;
	text-align: center;
}

#siteMenuArea a{
	text-decoration: blink; 
	color : teal;
	font-weight: 500;
	/* 애니메이션 효과 */
	/* 속성명 시간 (ease-in / ease-out) */
	transition: all 0.5s ease-in;	
}

#siteMenuArea a:hover {
	font-size: 40pt;
	text-shadow: yellow 0px 0px 10px;
	text-decoration: underline;	
}

#siteMenuArea a:active{
	color: blue;
}

#siteTitle{
	background-color: #3399FF55;
	font-size: 30pt;
	color: black;
	text-shaodw: teal 3px 5px 5px;
	width: 1000px;
}	

#siteContentArea{
	width:1000px;
	margin-left: auto;
	margin-right: auto; /*가운데 정렬*/
	margin-top: 200px;
}	
	
#maruvideo{
	/* 객체 자체에 그림자 */
	box-shadow: black 5px 5px 10px;
		
	/* 사이즈를 조절하면 그림이 깨져서 안하는게 베스트 ! */
	/* 어쩔 수 없다면
		큰 그림 -> 줄이기 : OK!
		작은 그림 -> 늘리기 : 깨져서 나올수도 있음
	*/
	max-width: 50%; 
}

#hometbl{
	color: black;
	text-shadow: teal 5px 5px 5px;
	margin: auto;
	
}
#hometbl3{
	color: yellow;
	text-shadow: red 5px 5px 5px;
	
}


